body{
  contain: content;
     align-content: center;
     background-color: bisque;
  }
  div{
  display: block;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  }
  .mainDiv{
  width: 70%;
  height: max-content;
  margin: auto;
  background-color: rgb(16, 200, 224);
  }
  
  /* .mainDiv>div>nav{
      display: flex;
  } */
  .mainDiv>div>nav>div{
  width: 90%;
  height: max-content;
  margin: auto;
  background-color: rgb(16, 224, 179);

  }
  .mainDiv>div>nav>div{
      align-content: flex-start;
      width: 90%;
      height: max-content;
      margin: auto;
      background-color: rgb(16, 224, 179);
      }
  p{
      /* margin: auto; */
      width: max-content;
      height: max-content;
      font-size: x-large;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .mainDiv>div>nav>div:hover{
  background-color: grey;
  
  }
  table{
      width: 70%;
      height: 70%;
  }
  td{
      font-size:x-large;
  }
  h1{
      align-content: center;
      margin: auto;
  }
  
